.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5.5rem auto;
  width: 70%;
  height: 90%;
}
.container{
  width: 70%;
  height: 90%;
}
h1 {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 1rem;
  text-align: center;
}

p {
  font-size: 22px;
  color: var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
}

.button-result{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-list {
  padding: 1rem 2rem;
  font-size: 18px;
}
