<div class="container">
  <h1>Інформаційна система формування пакетів сервісів IT-компаній</h1>
  <p>Система автоматично формує пакети сервісів для подальшого розміщення в інфраструктурі провайдерів</p>
  <div class="buttons">
    <button [routerLink]="['/builder']" class="btn btn-list">Перейти до формування</button>
    <button  [routerLink]="['/instruction']" class="btn btn-list">Переглянути інструкцію</button>
  </div>
  <div class="button-result">
    <button [routerLink]="['/tasks']" class="btn btn-list">Переглянути попередні результати</button>
  </div>

</div>
