
<div class="back-button">
  <app-back-button (backClick)="onBackClicked()"></app-back-button>
</div>
<div class="container-main">

  <div class="instruction-content">
    <h1 class="headline">Інструкція користувача</h1>

    <section class="section">
      <p>
        Ця інструкція допоможе вам швидко ознайомитися з системою та успішно скористатися нею.
        Дотримуйтесь нижчеописаних кроків, щоб коректно працювати з формою та елементами інтерфейсу.
      </p>
      <p>Після входу ви потрапите на <strong>головну сторінку</strong>, де доступні:</p>
      <ul>
        <li><strong>«Перейти до формування»</strong> — формування пакетів сервісів</li>
        <li><strong>«Переглянути попередні результати»</strong> — доступ до історії формувань</li>
      </ul>
      <p>У правому верхньому куті:</p>
      <ul>
        <li><strong>Про систему</strong> — інформація про призначення</li>
        <li><strong>Вихід</strong> — завершити сесію</li>
        <li><strong>Перемикач теми</strong> — світла / темна тема</li>
      </ul>
    </section>

    <hr />

    <section class="section">
      <h2>Кроки для формування пакетів сервісів:</h2>
      <ol>
        <li>Натисніть <strong>«Перейти до формування»</strong>.</li>
        <li>Введіть <strong>кількість провайдерів</strong>: ціле додатнє число (напр. 3, 5, 10).</li>
        <li>Вкажіть <strong>людський ресурс</strong>: ціле додатнє число (напр. 4, 8, 15).</li>
        <li>
          Позначте чекбокс <strong>«знижка для групи»</strong>, якщо бажаєте ввести знижки на групи сервісів, та введіть значення знижки у % (0–99).
        </li>
        <li>
          Натисніть <strong>«Додати групу сервісів»</strong> і заповніть:
          <ul>
            <li><strong>Вартість сервісу</strong>: значення > 0</li>
            <li><strong>Трудомісткість</strong>: ціле значення > 0</li>
            <li><strong>Доходи провайдерів</strong>: число > 0</li>
          </ul>
        </li>
        <li>Натисніть <strong>«Зберегти групу»</strong>.</li>
        <li>Якщо був позначений чекбокс <strong>«знижка для групи»</strong>, додаємо знижку на групу.</li>
        <li>Після заповнення всього — натисніть <strong>«Сформувати пакети сервісів»</strong>.</li>
        <li>
          Перегляньте результати: сформований пакет, дохід IT-компанії та провайдерів.
        </li>
        <li>
          Для аналізу натисніть <strong>«Визначення ефективних знижок»</strong> — зʼявляться графіки та висновки.
        </li>
      </ol>
    </section>

    <hr />

    <section class="section warning">
      <h3>Підказки:</h3>
      <ul>
        <li>Всі поля у формах є обов'язкові</li>
        <li>Перед запуском перевірте, щоб усі поля були коректно заповнені</li>
        <li>Якщо буде виявлено помилку, система виведе повідомлення з описом проблеми</li>
      </ul>
    </section>

  </div>
</div>
