@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
  --white: #ffffff;
  --black: #000000;
  --purper: #4f46e5;
  --blue-light: #318CE7;
  --dark-grey :#0a0a0a;
  --pale-grey:#F5F5F5;
  --dark-charcoal:#14171d;
  --bootstrap-blue:#007bff;
  --light-blue-gray:#f0f4f8;
  --deep-navy-blue: #0b1f3a;

}

[data-theme="light"] {
  --background:linear-gradient(180deg, var(--first-gradient) 0%, var(--second-gradient) 100%);
  --text-color: var(--black);
  --accent: var(--purper);
  --first-gradient: var(--white);
  --second-gradient: #f8fafc;
  --btn-border-color: var(--dark-charcoal);
  --btn-font-color: var(--blue-light);
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

.container{
  color: var(--text-color);
  padding: 2rem;
  border-radius: 14px;
  max-width:900px;
  max-height:600px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  border: 1px solid var(--border-color);
}

button{
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
  background-color: transparent;
  border: 2.5px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;


  &:hover {
    background-color:var(--btn-font-color);
    color:  var(--button-text);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

.tt-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tt-label {
  font-weight: bold;
  font-size: 14px;
}

.tt-input {
  font-size: 16px;
  padding:12px 10px;
  border: 2px solid #ccc;;
  border-radius: 8px;
  width: 95%;
  &::placeholder {
    font-size: 16px;
    color: #aaa;
  }
  &::placeholder:focus {
      outline: none;
      box-shadow: none;
  }
  margin: 0;

}


.error{
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.enter-link {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
