<div class="сnt">
  <div class="container">
    <form class="login-form" action=""
          [formGroup]="form"
          (ngSubmit)="onSubmit()">
      <h1>З поверненням!</h1>
      <div class="tt-control">
        <label class="tt-label" >Логін</label>
        <input
          formControlName="userName"
          class="tt-input"  type="text" placeholder="Вкажіть ваш логін">
        <div *ngIf="form.get('userName')?.hasError('required') && form.get('userName')?.touched && submitted" class="error">
          Поле логіну є обов’язковим
        </div>
      </div>

      <div class="tt-control">
        <label class="tt-label" >Пароль</label>
        <input
          formControlName="password"
          class="tt-input" type="password"  placeholder="Вкажіть ваш пароль">
        <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched && submitted" class="error">
          Поле паролю є обов’язковим
        </div>
      </div>
      <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </div>
      <button class="btn-list" type="submit">Увійти</button>

      <p class="auth-text">
        Немає акаунту?
        <a [routerLink]="['/signup']" class="enter-link">Sign Up</a>
      </p>

    </form>
  </div>
  <img src="/assets/imgs/main.png" alt="logo" class="project_logo">
</div>

